@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
}

body {
  background-color: #1b1821;
  font-family: Poppins;
}

.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

#main_head {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: 550;
}

.banner p {
  text-align: justify;
}
.sale-imgs img {
  width: 100%;
  border-radius: 10px;
}

.sale-imgs img:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #ffffff85;
}

.sale-imgs {
  margin-top: 50px;
}

/* cards */

.ofr_gams {
  margin-top: 50px;
  margin-bottom: 30px;
}

.ofr_gams h1 {
  margin-bottom: 30px;
  color: white;
}

.ofr_gams .card {
  border: none;
  margin-bottom: 30px;
  color: white;
}

.ofr_gams .card:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 5px #cdc7c785;
}

.ofr_gams .card-body {
  background-color: none;
}

.ofr_gams #arrows {
  display: flex;
  justify-content: end;
}

.ofr_gams .card-body {
  background-color: #1b1821;
  padding: 0px;
  padding-top: 10px;
}

.ofr_gams .card-title {
  font-size: 15px;
  font-weight: 700;
}

.ofr_gams .card-text {
  font-size: 10px;
}

.ofr_gams .price {
  display: flex;
  font-size: 15px;
  font-weight: 500;
}

.ofr_gams #org_prc {
  text-decoration: line-through;
  margin-right: 10px;
}

.ofr_gams #discount {
  background-color: #00afb9;
  border-radius: 5px;
  padding: 2px;
  margin-right: 10px;
}
