<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find Yor Game</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- <p style="color: white;">{{email}}</p> -->
  <section class="filter">
      <div class="container">
          <h1>Enter Your System Confiugarations</h1>
          <!-- <p >{{email}}</p> -->
          <form action="">
              <div class="row">
                  <div class="col-md-3">
                      <select id="ram" name="ram" [(ngModel)]="ram">
                          <option value="">Select Your RAM</option>
                          <option value=8 >8</option>
                          <option value=16>16</option>
                          <option value=24>24</option>
                      </select>
                  </div>
                  <div class="col-md-3">
                      <select id="cpu" name="cpu"[(ngModel)]="cpu" >
                          <option value="">Select Your CPU</option>
                          <option value=5>i5</option>
                          <option value=7>i7</option>
                          <option value="9">i9</option>
                      </select>
                  </div>
                  <div class="col-md-3">
                      <select id="gpu" name="gpu"[(ngModel)]=gpu >
                          <option value="" >Select Your GPU</option>
                          <option value=1080>1080</option>
                          <option value=2080>2080</option>
                          <option value=3080>3080</option>
                      </select>
                  </div>
                  <div class="col-md-3">
                      <button (click)="applyFilter()">Find Your Games</button>
                  </div>
              </div>
          </form>
      </div>
  </section>

  <section>

      <div class="containe">
          <div class="row">
              <div class="col-md-4">

                  <!-- Insert your card here -->

              </div>
          </div>
      </div>

  </section>
  <div class="container">
      <!-- <h1>Browse Games</h1> -->
      <div class="row">
          <div class="col-md-4 col-lg-3" *ngFor="let item of filteredData">
              <a (click)="click(item)">
                  <div class="card">
                      <img class="img-fluid" alt="100%x280" src={{item.imgsrc}}>
                      <div id="crd_bdy" class="card-body">
                          <p class="card-text">{{item.text}}</p>
                          <h5 class="card-title">{{item.title}}</h5>
                          <div class="price">
                              <p id="discount">{{item.discount}} </p>
                              <p>&nbsp;&nbsp;</p>
                              <p id="org_prc">{{item.orginalprice}} </p>
                              <p id="sale_prc"> &nbsp;&nbsp;{{item.saleprice}}&nbsp; </p>
                          </div>
                      </div>
                  </div>
              </a>

          </div>

      </div>

  </div>
</body>
