@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    font-family: Poppins;

}
body{
    background-color: #1b1821;
    min-height: 100vh;
}

.filter{
    /* background-color: white; */
    /* min-height: 100vh; */
    padding: 20px 20px;
    margin-top: 50px;

}

.container{
    background-color: rgb(255, 255, 255);
    padding: 30px 20px;
    border-radius: 8px;

    /* justify-content: ; */
}
h1{
    font-size: 30px;
    font-weight: 510;
    margin-bottom: 15px;
}

.row{
    /* background-color: aquamarine; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between; */

}

select{
width: 100%;
padding: 8px 10px;
border: none;
border-radius: 50px;
outline: none;
background-color: rgb(234, 238, 241);margin-bottom: 10px;
}

button{
    width: 100%;
padding: 8px 10px;
border: none;
border-radius: 50px;
background-color: rgb(60, 206, 92);
color: white;
}

.card {
    border: none;
    margin-bottom: 20px;
  }

  #crd_bdy{

  }

  .card:hover {
    transform: scale(1.02) translateY(-3px);
    box-shadow: 3px 3px 10px #38373785;
  }

  .card-body {
    background-color: none;
  }

  .card-body {
    background-color: #eff7f6;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  .card-title {
    font-size: 15px;
    font-weight: 700;
  }

  .card-text {
    font-size: 10px;
  }

  .price {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
  }

  #org_prc {
    text-decoration: line-through;
    opacity: 0.6;
  }

  #discount {
    background-color: #00afb9;
    border-radius: 5px;
    padding: 2px;
  }
