@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
}

body {
  margin: 0;
  background-color: #eff7f6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Poppins;
}

/* NAVBAR */

* {
  margin: 0;
}
/* body{
  background-image: url(../../assets/images/Home_BG_5.png);

} */
.navbar #login button {
  border: none;
  border-radius: 5px;
  background-color: #00afb9;
  color: white;
  font-size: 20px;
}

.navbar #login button:hover {
  border: none;
  border-radius: 5px;
  background-color: #fb8500;
  color: white;
  box-shadow: 1px 1px 5px white;
  font-size: 20px;
}

.navbar-custom {
  background-color: rgba(43, 44, 45, 0.9);
}

.navbar-custom a {
  color: white;
}

/* Banner */

.banner {
  height: 100vh;
  background-image: url(../../assets/images/Home_BG_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: black;
}

#brws_btn{
  text-decoration: none;
  color: white;
}

.banner button {
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  background-color: #00afb9;
  color: white;
  text-decoration: none;
}
.banner button:hover {
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  background-color: #fb8500;
  color: white;
  box-shadow: 1px 1px 5px white;
}

/* Popular_Games */

.popular_games {
  display: flex;
  justify-content: center;
}

.popular_games .container {
  width: 85%;
}

.popular_games .card {
  border: none;
}

.popular_games .card-body {
  background-color: none;
}

.popular_games #arrows {
  display: flex;
  justify-content: end;
}

.popular_games .card-body {
  background-color: #eff7f6;
  padding: 0px;
  padding-top: 10px;
}

.popular_games .card-title {
  font-size: 15px;
  font-weight: 700;
}

.popular_games .card-text {
  font-size: 10px;
}

.popular_games .price {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}

.popular_games #org_prc {
  text-decoration: line-through;
}

.popular_games #discount {
  background-color: #00afb9;
  border-radius: 5px;
  padding: 2px;
}

.popular_games h3 {
  color: black;
  font-size: 40px;
  font-weight: 600;
}

/* Holiday_Sale */

.holidaysale img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.2s;
}

.holidaysale img:hover {
  transform: scale(1.1);
}

.holidaysale #new_year {
  display: flex;
  justify-content: end;
}

.holidaysale #christmas {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.holidaysale h1 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 30px;
}

/* Latest_games */

.latest_games {
  display: flex;
  justify-content: center;
}

.latest_games h1 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 30px;
}

.carousel1 {
  width: 85%;
  margin-top: 50px;
  border-radius: 20px;
}

/* Game_of_the_year */

.main4 {
  border: 1px black;
  background-color: #eff7f6;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main4 img {
  margin-bottom: 25px;
  border-radius: 20px;
  transition: transform 0.2s;
}

.main4 img:hover {
  transform: scale(1.05);
  border-radius: 20px;
}

.main4 h3 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 30px;
}

/* Request a Game */

.request_a_game {
  background-image: url(../../assets/images/Home_BG_1.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.req_box h1 {
  font-size: 30px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.req_box {
  /* background: #da7070; */
  color: black;
  background: linear-gradient(-45deg, #dcd7e0, #fff);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(181, 181, 181, 0.267);
  padding: 25px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.req_box input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: transparent;
  font-weight: 600;
  overflow: hidden;
  font-size: 16px;
}

.request_a_game button {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fb8500;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  box-shadow: 3px 3px 3px rgb(101, 98, 98);
}

.request_a_game button:hover {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #00afb9;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  box-shadow: 3px 3px 3px rgb(101, 98, 98);
}

.find_your_game {
  /* background: #fff; */
  color: black;
  background: linear-gradient(-45deg, #dcd7e0, #fff);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(181, 181, 181, 0.267);
  padding: 25px 25px;
  margin-top: 20px;
}

.find_your_game h1 {
  font-size: 30px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.request_a_game h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.request_a_game .specs {
  display: flex;
  align-items: self-end;
}

.find_your_game .specs select {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
}

.find_your_game .specs label {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

/* latest Updates */

.latest_updates h1 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 30px;
}

.latest_updates .card h1 {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

.latest_updates .card p {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

.latest_updates .card-body {
  background-color: #eff7f6;
  padding: 0px;
}

.latest_updates .card {
  border: none;
}

/* Footer */

footer {
  margin-top: 30px;
  background-color: #00afb9;
  padding-top: 10px;
  color: white;
}
footer #logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h1 {
  font-size: 30px;
  font-weight: bold;
  color: #061a3a;
}

footer p {
  font-size: 13px;
}

.d1 {
  margin: 20px;
  padding: 20px;
}

.f1 img {
  height: 185px;
}

.footecont img {
  height: 100px;
}

.footecont {
  display: flex;
  align-content: center;
  justify-content: center;
}
.f1 h1 p {
  margin: 20px auto;
}

footer #social_media_icons {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

footer .item4 {
  max-width: 100%;
  height: 40px;
  background-color: #015458;
  /* text-align: center; */
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .item4 p {
  margin-top: 18px;
  margin-left: 5px;
}
