<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameSpot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="home.component.css">

</head>

<body>


    <section class="banner">
        <h1><span style="color:  #fb8500;">GAME </span><span style="color: white;">SPOT</span></h1><br>
        <p style="color: white; text-align: center;">We are a team of passionate specialists with an extensive knowledge
            of the video game industry.
            <br>
            Our task is to make sure that players will be able to enjoy unique and unforgettable games. <br>
            We’re not just a game company – we’re your game partner!
        </p><br>
        <button><a [routerLink]="['/browse']" id="brws_btn">Browse</a></button>
    </section>

    <section class="popular_games pt-5 pb-5">
      <div class="container">
        <div class="row">
          <!-- Heading -->
          <div class="col-6">
            <h3 class="mb-3">Popular Games</h3>
          </div>
          <!-- Arrows -->
          <div class="col-6" id="arrows">
            <a class="btn btn- mb-3 " href="#carouselExampleAutoplaying" role="button" data-bs-slide="prev">
              <i class="fa-solid fa-arrow-left fa-xl" style="color: #00afb9;"></i>
            </a>
            <a class="btn btn- mb-3 " href="#carouselExampleAutoplaying" role="button" data-bs-slide="next">
              <i class="fa-solid fa-arrow-right fa-xl" style="color: #00afb9;"></i>
            </a>
          </div>
          <!-- Cards(Games) -->
          <div class="col-12">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <!-- Use *ngFor to iterate over chunks of games -->
                <div class="carousel-item" *ngFor="let chunk of chunkedGames; let i = index" [class.active]="i === 0">
                  <div id="cards-wrapper" class="row">
                    <!-- Use *ngFor to iterate over games in each chunk -->
                    <div class="col-md-2 mb-3" *ngFor="let game of chunk">
                      <div class="card">
                        <img class="img-fluid" [alt]="game.title" [src]="game.image">
                        <div class="card-body">
                          <h5 class="card-title">{{ game.title }}</h5>
                          <p class="card-text">{{ game.description }}</p>
                          <div class="price">
                            <p id="discount">{{ game.discount }}</p>
                            <p id="org_prc">{{ game.originalPrice }}</p>
                            <p id="sale_prc">{{ game.salePrice }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="holidaysale">
        <div class="container">
            <div class="row ">
                <h1 style="color: black; margin-bottom: 30px;">Deals</h1>

                <div id="christmas" class="col-sm-12 col-md-6 col-lg-6">
                    <a [routerLink]="['/newyearsale']"><img src="../../assets/images/Christmas_sale.png" alt=""></a>
                </div>
                <div id="new_year" class="col-sm-12 col-md-6 col-lg-6">
                    <a [routerLink]="['/christmassale']"><img src="../../assets/images/New_year_sale.png" alt=""></a>
                </div>
            </div>
            </div>
    </section>

    <section class="latest_games">
        <div class="carousel1">
            <h1>Latest Games</h1>
            <div id="carouselExampleAutoplaying2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src ="../../assets/images/slider_1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/slider_2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/slider_3.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying2"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying2"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </section>

    <section class="Game_of_the_year">
        <div class="main4">
            <div class="container-fluid blog py-6">
                <div class="container">
                    <h3 class="mb-3">Game of the Year Collection </h3>
                    <div class="row gx-4 justify-content-center">
                        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s">
                            <div class="blog-item">
                                <div class="overflow-hidden ">
                                    <img src="../../assets/images/allgames/2023_GOY.png" class="img-fluid w-100" alt="">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.3s">
                            <div class="blog-item">
                                <div class="overflow-hidden ">
                                    <img src="../../assets/images/allgames/2022_GOY.png" class="img-fluid w-100" alt="">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.5s">
                            <div class="blog-item">
                                <div class="overflow-hidden ">
                                    <img src="../../assets/images/allgames/2021_GOY.png" class="img-fluid w-100" alt="">
                                </div>

                            </div>
                        </div>
                        <!-- 2nd -->
                        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.5s">
                            <div class="blog-item">
                                <div class="overflow-hidden ">
                                    <img src="../../assets/images/allgames/2020_GOY.png" class="img-fluid w-100" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.5s">
                            <div class="blog-item">
                                <div class="overflow-hidden ">
                                    <img src="../../assets/images/allgames/2019_GOY.png" class="img-fluid w-100" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.5s">
                            <div class="blog-item">
                                <div class="overflow-hidden ">
                                    <img src="../../assets/images/allgames/2018_GOY.png" class="img-fluid w-100" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="request_a_game">
      <div class="container">
        <div class="row">
          <div id="request_game" class="col-md-6">
            <form (submit)="sendGameRequest()">
              <div class="req_box">
                <div>
                  <h1>Request a Game</h1>
                  <h2>Enter Game Details</h2>
                </div>
                <input [(ngModel)]="gameDetails.gameName" type="text" id="name" name="gameName" placeholder="Game Name" required /><br>
                <input [(ngModel)]="gameDetails.releaseYear" type="text" id="gameyear" name="releaseYear" placeholder="Release Year" required />
                <input [(ngModel)]="gameDetails.publisher" type="text" id="publisher" name="publisher" placeholder="Publisher" required /><br>
                <!-- Remove the input for userEmail since it will be retrieved from localStorage -->

                <button type="submit">Continue</button>
              </div>
            </form>
                </div>

                <div id="find_game" class="col-md-6" (click)="findGames()">
                  <form action="javascript:void(0);">
                      <div class="find_your_game">
                          <h1>
                              Find a PC-compatible game.
                          </h1>
                          <h2>Provide your system specs.</h2>
                          <div class="specs">
                              <label for="ram">RAM:</label>
                              <select id="ram" name="ram" [disabled]="isFieldsDisabled" (click)="handleFieldClick()">
                                  <option value="8">8</option>
                                  <option value="16">16</option>
                                  <option value="24">24</option>
                              </select> <br>
                          </div>
                          <div class="specs">
                              <label for="cpu">CPU:</label>
                              <select id="cpu" name="cpu" [disabled]="isFieldsDisabled" (click)="handleFieldClick()">
                                  <option value="i5">i5</option>
                                  <option value="i7">i7</option>
                                  <option value="i9">i9</option>
                              </select><br>
                          </div>
                          <div class="specs">
                              <label for="GPU">GPU:</label>
                              <select id="gpu" name="gpu" [disabled]="isFieldsDisabled" (click)="handleFieldClick()">
                                  <option value="1080">1080</option>
                                  <option value="2080">2080</option>
                                  <option value="3080">3080</option>
                              </select><br>
                          </div>
                          <button type="submit"    (click)="handleFieldClick()">Find Your Games</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>


    </section>

    <section class="latest_updates">
        <div class="main2">

            <div class="container">
                <h1>Latest Updates</h1>
                <div class="row">
                    <div class="col-md-6 col-lg-4 ">
                        <div class="card">
                            <img src="../../assets/images/update_1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h1 class="card-title">The GTA 6 trailer is here and it has confirmed the release window
                                </h1>
                                <p style="text-align: justify;">GTA 6 is officially coming in 2025, and it's set to take
                                    us back to Vice City in the state of Leonida. The news came by way of the release of
                                    the official GTA 6 trailer 1 </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ">
                        <div class="card">
                            <img src="../../assets/images/update_2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h1 class="card-title">Future Horizon Game Could Be Skipping PS5</h1>
                                <p style="text-align: justify;">A future Horizon game could be skipping PlayStation 5,
                                    according to a new job listing that reveals more information about the game's
                                    development.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ">
                        <div class="card">
                            <img src="../../assets/images/update_3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h1 class="card-title">World of Warcraft Reveals Release Date for Seeds of Renewal Patch
                                </h1>
                                <p style="text-align: justify;">In its first post of 2024, Blizzard gives World of
                                    Warcraft players the date for when the Seeds of Renewal content update will go live.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
