<!-- checkout.component.html -->

<div class="banner">
  <div class="box">
    <div class="container">
      <div class="row">
        <div id="image" class="col-md-4"></div>
        <div id="checkout_form" class="col-md-8">
          <form [formGroup]="checkoutForm" (ngSubmit)="validateForm()">
            <h1>CheckOut</h1>
            <h2>Payment Information</h2>

            <div class="form-group">
              <label for="cardholderName">Cardholder Name</label>
              <input type="text" id="cardholderName" formControlName="cardholderName">
              <div style="color: red;" *ngIf="checkoutForm.get('cardholderName')?.hasError('required') && checkoutForm.get('cardholderName')?.touched">
                Cardholder Name is mandatory
              </div>
              <div style="color: red;" *ngIf="checkoutForm.get('cardholderName')?.hasError('minlength') && checkoutForm.get('cardholderName')?.touched">
                Name should contain at least 3 characters
              </div>

            </div>

            <div class="form-group">
              <label for="cardNumber">Card Number</label>
              <input type="text" id="cardNumber" formControlName="cardNumber">
              <div style="color: red;" *ngIf="checkoutForm.get('cardNumber')?.hasError('required') && checkoutForm.get('cardNumber')?.touched">
                Card Number is required
              </div>


              <div style="color: red;" *ngIf="checkoutForm.get('cardNumber')?.hasError('pattern') && !checkoutForm.get('cardNumber')?.hasError('required') && checkoutForm.get('cardNumber')?.touched">
                Please enter 9 digits for Number
              </div>
            </div>

            <div class="form-group">
              <label for="cardType">Card Type</label>
              <select id="cardType" formControlName="cardType">
                <option value="" disabled selected>--Select a Card Type--</option>
                <option value="Visa">Visa</option>
                <option value="MasterCard">MasterCard</option>
                <option value="Amex">American Express</option>
              </select>
              <div style="color: red;" *ngIf="checkoutForm.get('cardType')?.hasError('required') && checkoutForm.get('cardType')?.touched">
                Card Type is required
              </div>
            </div>

            <div class="form-group">
              <label for="expiry">Expiry</label>
              <input type="date" id="expiry" formControlName="expiry">
              <div style="color: red;" *ngIf="checkoutForm.get('expiry')?.hasError('required') && checkoutForm.get('expiry')?.touched">
                Expiry Date is required
              </div>
            </div>

            <div class="form-group">
              <label for="cvv">CVV</label>
              <input type="text" id="cvv" formControlName="cvv">
              <div style="color: red;" *ngIf="checkoutForm.get('cvv')?.hasError('required') && checkoutForm.get('cvv')?.touched">
                CVV is required
              </div>
              <div style="color: red;" *ngIf="checkoutForm.get('cvv')?.hasError('pattern') && !checkoutForm.get('cvv')?.hasError('required') && checkoutForm.get('cvv')?.touched">
                Please enter 3 digits for CVV
              </div>
            </div>

            <button (click)="click()" type="submit" [disabled]="checkoutForm.invalid">CheckOut</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
