@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: Poppins;
}
.banner {
  height: 100vh;
  background-image: url(../../assets/images/Home_BG_2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #753370;
}

#image {
  padding: none;
  background-image: url(../../assets/images/checkout.png);
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.box {
  max-height: 80vh;
  width: 60vw;
}

#checkout_form {
  background-color: white;
  padding: 20px 50px;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

@media screen and (max-width: 766px) {
  #checkout_form {
    background-color: white;
    padding: 20px 50px;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
  }
}

h1 {
  font-weight: 600;
  font-size: 40px;
}

h2 {
  font-weight: 600;
  font-size: 25px;
}

label {
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}

input,
select {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  outline: none;
}

button {
  background: linear-gradient(135deg, #753370 0%, #298096 100%);
  padding: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100%;
  letter-spacing: 0.11rem;
  outline: none;
}

button:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #38373785;
}

button:disabled {
  background: #e0e0e0;
  color: #757575;
  cursor: not-allowed;
}

button:hover:disabled {
  transform: none;
  box-shadow: none;
}
