@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: Poppins;
}

body {
  background-color: rgb(13, 13, 13);
}

.bg_img {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Details Box */

.data_box {
  background-color: rgb(28, 27, 27);
  opacity: 0.96;
  color: white;
  padding: 30px 30px;
  box-shadow: 1px 1px 10px white;
}

.data_box h1 {
  font-size: 2rem;
  font-weight: 500;
}

.data_box #prod {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.data_box .ratings,
.price,
.discount {
  display: flex;
}

.data_box .price {
  margin-top: 30px;
  margin-bottom: 0px;
}

.data_box .discount {
  margin-top: 0px;
}

.data_box #dsc_prc {
  font-size: 1rem;
  font-weight: 600;
}

.data_box #org_prc {
  text-decoration: line-through;
  opacity: 0.5;
  margin-top: 3px;
}

.data_box #offr {
  font-weight: 500;
  font-size: 1rem;
}

.data_box #date {
  font-size: 0.8rem;
  opacity: 0.5;
  margin-top: 5px;
}

.data_box .btn {
  display: flex;
  margin-top: 25px;
}

.data_box .cart_btn button {
  background-color: #fb8500;
  border: none;
  border-radius: 40px;
  padding: 6px 70px;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
}

.data_box .wish_btn button {
  background-color: aliceblue transparent 0.5;
  border: none;
  border-radius: 50%;
  padding: 9px 7px;
  margin-left: 10px;
}

.game_data #box_name {
  display: flex;
  justify-content: center;
}

.game_data #box_name_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* More_Options */

.game_data {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.game_data .data1,
.data2,
.data3,
.data4,
.data5 {
  display: flex;
  font-size: 15px;
  margin-top: 20px;
}

/* About Game */

.about_game {
  color: white;
  margin-top: 20px;
  border-top: 1px white solid;
  padding-top: 50px;
}

.about_game h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.about_game img {
  width: 100%;
}

#abt_gm {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin-bottom: 50px;
}

.about_game h2,
h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.about_game #data1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px white solid;
  border-left: 1px white solid;
}

.about_game #data2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px white solid;
  border-right: 1px white solid;
}

#abt_gm_2 {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin-bottom: 50px;
}

/* System Requirments */

.Sys_req {
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Sys_req #sys-req {
  background-color: rgb(38, 37, 37);
  padding: 20px;
}

.Sys_req #sys-req h1 {
  font-size: 40px;
  font-weight: 600;
  /* margin-bottom: 40px; */
  border-bottom: 1px white solid;
}

.Sys_req #sys-req h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  /* margin-bottom: 20px; */
  border-bottom: 0.1px white solid;
}

.Sys_req #sys-req #itm_head {
  font-size: 15px;
  font-weight: 600;
  /* text-align: left;/ */
  margin-bottom: 0px;
  margin-top: 20px;
}

.Sys_req #min,
#max {
  display: flex;
  flex-direction: column;
}

.lgl_info {
  color: white;
  padding-bottom: 50px;
  margin-top: 50px;
  border-top: 1px white solid;
  padding-top: 50px;
}

.lgl_info h1 {
  margin-bottom: 30px;
  font-weight: 600;
}

.lgl_info p {
  font-size: 15px;
  text-align: justify;
}
