@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: Poppins;
}

.login {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/images/Home_BG_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login img {
  height: 70px;
  margin-bottom: 20px;
}

.login_box {
  background: #fff;
  opacity: 0.95;
  background: linear-gradient(-45deg, #dcd7e0, #fff);
  border-radius: 10px;
  box-shadow: 40px 40px 120px #00000041, inset -40px -40px 120px #ffffff40;
  padding: 25px 25px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
}

input {
  border: 1px solid #00afb9;
  width: 300px;
  height: 40px;
  padding: 7px 9px;
  margin-top: 20px;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}

.anchor {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}
button {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #00afb9;
  color: #fff;
  font-weight: bold;
  width: 100%;
  height: 50px;
}

button:hover{
  background-color: #fb8500;
  box-shadow: 1px 1px 5px black;
}

.icons {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 30px 20px;
}

#frgt_pass{
  text-decoration: none;
  color: black;
}
/* Add this to your login.component.css */

.captcha-code {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  background: transparent;
}

.captcha-code::before {
  content: attr(data-content);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-2deg) scale(1.1);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  animation: wobble 0.3s infinite alternate;
}

@keyframes wobble {
  0% {
    transform: translate(-50%, -50%) rotate(-2deg) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(2deg) scale(1.1);
  }
}
