<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="./login.component.css">
</head>
<body>
  <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <section class="login">
      <div class="login_box">
        <div>
          <h1>Sign In</h1>
        </div>
        <input type="email" id="email" formControlName="email" placeholder="Your Email" />
        <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" style="color: red; margin-bottom: -15px;">
          <div *ngIf="loginForm.controls['email'].errors?.['required']">Please Enter Email</div>
          <div *ngIf="loginForm.controls['email'].errors?.['email']">Invalid Email Format</div>
        </div>
        <br>
        <input type="password" id="password" name="password" placeholder="Password" formControlName="password" />
        <div *ngIf="loginForm.controls['password'].dirty || loginForm.controls['password'].touched"
          style="color: red;margin-bottom: -15px;">
          <div *ngIf="loginForm.controls['password'].errors?.['required']">Please Enter Password</div>
            <div *ngIf="loginForm.controls['password'].errors?.['pattern']">
            <div *ngIf="!passwordContainsLowercase()">Password must contain at least 1 lowercase letter</div>
            <div *ngIf="!passwordContainsUppercase()">Password must contain at least 1 uppercase letter</div>
            <div *ngIf="!passwordContainsDigit()">Password must contain at least 1 digit</div>
            <div *ngIf="!passwordContainsSymbol()">Password must contain at least 1 special symbol</div>
          </div>
        </div>
        <br>
        <div>
          <label for="captcha" style="margin-top: 15px;">Enter the Captcha : </label>
          <span class="captcha-code">{{ code }}</span> <br>
          <input type="text" id="captcha" name="captcha" ngModel formControlName="captcha" placeholder="Captcha" style="margin-top: -25px;" />
          <div *ngIf="loginForm.controls['captcha'].invalid && (loginForm.controls['captcha'].dirty || loginForm.controls['captcha'].touched)" style="color: red; margin-bottom: -15px;">
            <div *ngIf="loginForm.controls['captcha'].errors?.['required']">Please Enter Captcha</div>
            <div *ngIf="loginForm.controls['captcha'].errors?.['pattern']">Invalid Captcha Format</div>
          </div>
        </div>
        <div class="anchor"><a routerLink="/forgot-password">Forgot Your Password</a></div>
        <button type="submit">Continue</button>

        <p style="text-align: center; margin-bottom: 20px;">new user ? <a href="/register "style="text-decoration: none; color: fb8500;">Sign Up</a></p>
      </div>
    </section>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
</body>
</html>
