<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Games</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <section>
        <div class="container">
            <h1>Browse Games</h1>
            <div class="row">
                <div class="col-md-4 col-lg-3" *ngFor="let item of cards">
                    <a (click)="click(item)">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src={{item.imgsrc}}>
                            <div id="crd_bdy" class="card-body">
                                <p class="card-text">{{item.text}}</p>
                                <h5 class="card-title">{{item.title}}</h5>
                                <div class="price">
                                    <p id="discount">{{item.discount}} </p>
                                    <p>&nbsp;&nbsp;</p>
                                    <p id="org_prc">{{item.orginalprice}} </p>
                                    <p id="sale_prc"> &nbsp;&nbsp;{{item.saleprice}}&nbsp; </p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

            </div>

        </div>
        <div class="page_no">
            <a id="pg_1" [routerLink]="['/browse']">1 &nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a id="pg_2" [routerLink]="['/browse2']" style="opacity: 0.5;">2 &nbsp;&nbsp;&nbsp;&nbsp;</a>
            <!-- <a [routerLink]="['/browse2']"><i class="fa-solid fa-angle-right" style="color: #000000;"></i></a> -->
        </div>
    </section>

</body>
</html>
