@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: Poppins;
  text-decoration: none;

}

body {
  background-color: #eff7f6;
}

h1 {
  font-size: 300%;
  padding-top: 80px;
  margin-bottom: 50px;
  font-weight: 600;
}

img {
  border-radius: 0px;
}

.card {
  border: none;
  margin-bottom: 20px;
}

#crd_bdy{

}

.card:hover {
  transform: scale(1.02) translateY(-3px);
  box-shadow: 3px 3px 10px #38373785;
}

.card-body {
  background-color: none;
}

.card-body {
  background-color: #eff7f6;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.card-title {
  font-size: 15px;
  font-weight: 700;
}

.card-text {
  font-size: 10px;
}

.price {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}

#org_prc {
  text-decoration: line-through;
  opacity: 0.6;
}

#discount {
  background-color: #00afb9;
  border-radius: 5px;
  padding: 2px;
}

.page_no {
  font-weight: 500;
  color: black;
  font-size: 150%;
  text-align: center;
padding-bottom: 50px;  margin-top: 30px;
}
#pg_1,
#pg_2,
#pg_3 {
  text-decoration: none;
  color: black;
}
