<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AssassinsCreedMirage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body >
<!--  -->
<div  >
<div *ngFor="let item of cartItems " >
    <section class="bg_img" style="background-image: url({{item.backgroundimage}});">
    </section>

    <section class="game_data">
        <div class="container" >
            <div class="row">
                <div id="box_name" class="col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" class="data_box">
                                <h1>{{item.title}}</h1>
                                <p id="prod">{{item.prod}}</p>
                                <div class="ratings">
                                    <p>{{item.rating}} &nbsp;</p>
                                    <i class="fa-solid fa-star" style="color: #FFD700;"></i><i class="fa-solid fa-star"
                                        style="color: #FFD700;"></i><i class="fa-solid fa-star"
                                        style="color: #FFD700;"></i><i class="fa-solid fa-star"
                                        style="color: #FFD700;"></i><i class="fa-regular fa-star"
                                        style="color: #FFD700;"></i>
                                    <p>&nbsp; {{item.ratingnumber}}</p>
                                </div>
                                <div class="price">
                                    <p id="dsc_prc">Rs {{item.saleprice}} &nbsp;</p>
                                    <p id="org_prc">Rs {{item.orginalprice}}</p>
                                </div>
                                <div class="discount">
                                    <p id="offr">Save {{item.discount}}</p>
                                    <p id="date">&nbsp;&nbsp;{{item.date}}</p>
                                </div>
                                <div class="btn">
                                    <div class="cart_btn">
                                        <button (click)="addCart(item)"> Add to Cart</button>
                                    </div>
                                    <div class="wish_btn">
                                        <button><i class="fa-solid fa-heart fa-2xl"
                                                style="color: #ff0000;"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div id="box_name_2" class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="data1"><i class="fa-solid fa-gamepad"></i>
                                <p> &nbsp;&nbsp; In-game purchases &nbsp;&nbsp;optional</p>
                            </div>
                            <div class="data2"><i class="fa-solid fa-globe"></i>
                                <p>&nbsp;&nbsp;Online play optional</p>
                            </div>
                            <div class="data3"><i class="fa-solid fa-user"></i>
                                <p>&nbsp;&nbsp;1 player</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="data4"><i class="fa-solid fa-house-laptop"></i>
                                <p>&nbsp;&nbsp;Remote Play &nbsp;&nbsp;Supported</p>
                            </div>
                            <div class="data5"><i class="fa-solid fa-gamepad"></i>
                                <p> &nbsp;&nbsp;Controller Supported</p>
                            </div>
                        </div>
                        <div class="col-sm-4" style="margin-top: 20px;">Pegi 18 <br><br>Language <br><br> Online
                            <br><br>
                            Violence
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="about_game">
        <div class="container" *ngFor="let item of cartItems">
            <div class="row">
                <h1>About Game</h1>
                <p id="abt_gm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam soluta ratione consectetur sapiente quam voluptas ab omnis laboriosam ut, culpa vel expedita aliquid maxime quidem eos? Mollitia, impedit ipsa.</p>
                <div id="data1" class="col-md-6">
                    <h2>A POWERFUL <br> COMING-OF-AGE STORY</h2>
                    <p id="abt_gm_2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis consequatur fugit aliquid illum, voluptatibus totam esse aperiam perspiciatis temporibus dolor ipsa, eum quae earum! Et eligendi tempore ut illo alias? Autem, necessitatibus id iste quisquam corrupti quaerat reprehenderit quae quibusdam eligendi? Totam velit ab exercitationem et sequi, quisquam rerum perspiciatis.</p>
                </div>
                <div class="col-md-6">
                    <img src={{item.imgsrc1}} alt="">
                </div>
                <div class="col-md-6">
                    <img src={{item.imgsrc2}} alt="">
                </div>
                <div id="data2" class="col-md-6">
                    <h3>THE ULTIMATE ASSASSIN</h3>
                    <p id="abt_gm_2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi laboriosam sit fugiat ipsum vel delectus dolore inventore deleniti saepe illo consequatur laudantium dolorum minus, sequi quo earum, reprehenderit aperiam sunt facilis reiciendis modi sed. Magnam vitae saepe quia sint, tempore commodi, quidem, obcaecati officia non eius veniam repellendus ab voluptate.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="Sys_req">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="container">
                        <div id="sys-req" class="row">
                            <h1>System Requirments</h1>
                            <div id="min" class="col-md-6">
                                <h2>Minimum</h2>
                                <p id="itm_head">OS</p>
                                <p>Windows 10/11</p>
                                <p id="itm_head">CPU</p>
                                <p>INTEL® Core™ 17i7-4790K (INTEL® Core™ i5-8400 for Intel® ARC™ with Rebar) / Ryzen™ 5
                                    1600</p>
                                <p id="itm_head">GPU</p>
                                <p>Intel® Arc™ A380 (6 GB) / NVIDIA® GeForce® GTX 1060 (6 GB) / AMD Radeon™ RX 570 (4
                                    GB)</p>
                                <p id="itm_head">Memory</p>
                                <p>8 GB (dual-channel mode)
                                </p>
                                <p id="itm_head">Storage</p>
                                <p>40 GB</p>
                            </div>
                            <div id="max" class="col-md-6">
                                <h2>Recommended</h2>
                                <p id="itm_head">OS</p>
                                <p>Windows 10/11</p>
                                <p id="itm_head">CPU</p>
                                <p>Intel® Core™ i {{item.intel}}</p>
                                <p id="itm_head">GPU</p>
                                <p> NVIDIA® GeForce® GTX {{item.gcard}} Ti </p>
                                <p id="itm_head">Memory</p>
                                <p>{{item.memory}} GB (dual-channel mode)
                                </p>
                                <p id="itm_head">Storage</p>
                                <p>{{item.storage}} GB</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lgl_info">
        <div class="container">
            <h1>Game and Legal Info</h1>
            <p>To play this game on PS5, your system may need to be updated to the latest system software. Although this
                game is playable on PS5, some features available on PS4 may be absent. See PlayStation.com/bc for more
                details.</p>
            <p>Download of this product is subject to the PlayStation Network Terms of Service and our Software Usage
                Terms
                plus any specific additional conditions applying to this product. If you do not wish to accept these
                terms,
                do not download this product. See Terms of Service for more important information.</p>
            <p> One-time licence fee to download to multiple PS4 systems. Sign in to PlayStation Network is not required
                to
                use this on your primary PS4, but is required for use on other PS4 systems.
            </p>
            <p>See Health Warnings for important health information before using this product.
            </p>
            <p>Library programs ©Sony Interactive Entertainment Inc. exclusively licensed to Sony Interactive
                Entertainment
                Europe. Software Usage Terms apply, See eu.playstation.com/legal for full usage rights.</p>
        </div>
    </section>
</div>
</div>
<!-- --------------------------------------------------------- -->
<div >
<!-- <div *ngFor="let items of filterItems">
    <section class="bg_img" style="background-image: url({{items.backgroundimage}});">
    </section>

    <section class="game_data">
        <div class="container" >
            <div class="row">
                <div id="box_name" class="col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" class="data_box">
                                <h1>{{items.title}}</h1>
                                <p id="prod">{{items.prod}}</p>
                                <div class="ratings">
                                    <p>{{items.rating}} &nbsp;</p>
                                    <i class="fa-solid fa-star" style="color: #FFD700;"></i><i class="fa-solid fa-star"
                                        style="color: #FFD700;"></i><i class="fa-solid fa-star"
                                        style="color: #FFD700;"></i><i class="fa-solid fa-star"
                                        style="color: #FFD700;"></i><i class="fa-regular fa-star"
                                        style="color: #FFD700;"></i>
                                    <p>&nbsp; {{items.ratingnumber}}</p>
                                </div>
                                <div class="price">
                                    <p id="dsc_prc">Rs {{items.saleprice}} &nbsp;</p>
                                    <p id="org_prc">Rs {{items.orginalprice}}</p>
                                </div>
                                <div class="discount">
                                    <p id="offr">Save {{items.discount}}</p>
                                    <p id="date">&nbsp;&nbsp;{{items.date}}</p>
                                </div>
                                <div class="btn">
                                    <div class="cart_btn">
                                        <button (click)="addCart(items)"> Add to Cart</button>
                                    </div>
                                    <div class="wish_btn">
                                        <button><i class="fa-solid fa-heart fa-2xl"
                                                style="color: #ff0000;"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div id="box_name_2" class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="data1"><i class="fa-solid fa-gamepad"></i>
                                <p> &nbsp;&nbsp; In-game purchases &nbsp;&nbsp;optional</p>
                            </div>
                            <div class="data2"><i class="fa-solid fa-globe"></i>
                                <p>&nbsp;&nbsp;Online play optional</p>
                            </div>
                            <div class="data3"><i class="fa-solid fa-user"></i>
                                <p>&nbsp;&nbsp;1 player</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="data4"><i class="fa-solid fa-house-laptop"></i>
                                <p>&nbsp;&nbsp;Remote Play &nbsp;&nbsp;Supported</p>
                            </div>
                            <div class="data5"><i class="fa-solid fa-gamepad"></i>
                                <p> &nbsp;&nbsp;Controller Supported</p>
                            </div>
                        </div>
                        <div class="col-sm-4" style="margin-top: 20px;">Pegi 18 <br><br>Language <br><br> Online
                            <br><br>
                            Violence
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="about_game">
        <div class="container" *ngFor="let items of filterItems">
            <div class="row">
                <h1>About Game</h1>
                <p id="abt_gm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam soluta ratione consectetur sapiente quam voluptas ab omnis laboriosam ut, culpa vel expedita aliquid maxime quidem eos? Mollitia, impedit ipsa.</p>
                <div id="data1" class="col-md-6">
                    <h2>A POWERFUL <br> COMING-OF-AGE STORY</h2>
                    <p id="abt_gm_2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis consequatur fugit aliquid illum, voluptatibus totam esse aperiam perspiciatis temporibus dolor ipsa, eum quae earum! Et eligendi tempore ut illo alias? Autem, necessitatibus id iste quisquam corrupti quaerat reprehenderit quae quibusdam eligendi? Totam velit ab exercitationem et sequi, quisquam rerum perspiciatis.</p>
                </div>
                <div class="col-md-6">
                    <img src={{items.imgsrc1}} alt="">
                </div>
                <div class="col-md-6">
                    <img src={{items.imgsrc2}} alt="">
                </div>
                <div id="data2" class="col-md-6">
                    <h3>THE ULTIMATE ASSASSIN</h3>
                    <p id="abt_gm_2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi laboriosam sit fugiat ipsum vel delectus dolore inventore deleniti saepe illo consequatur laudantium dolorum minus, sequi quo earum, reprehenderit aperiam sunt facilis reiciendis modi sed. Magnam vitae saepe quia sint, tempore commodi, quidem, obcaecati officia non eius veniam repellendus ab voluptate.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="Sys_req">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="container">
                        <div id="sys-req" class="row">
                            <h1>System Requirments</h1>
                            <div id="min" class="col-md-6">
                                <h2>Minimum</h2>
                                <p id="itm_head">OS</p>
                                <p>Windows 10/11</p>
                                <p id="itm_head">CPU</p>
                                <p>INTEL® Core™ 17i7-4790K (INTEL® Core™ i5-8400 for Intel® ARC™ with Rebar) / Ryzen™ 5
                                    1600</p>
                                <p id="itm_head">GPU</p>
                                <p>Intel® Arc™ A380 (6 GB) / NVIDIA® GeForce® GTX 1060 (6 GB) / AMD Radeon™ RX 570 (4
                                    GB)</p>
                                <p id="itm_head">Memory</p>
                                <p>8 GB (dual-channel mode)
                                </p>
                                <p id="itm_head">Storage</p>
                                <p>40 GB</p>
                            </div>
                            <div id="max" class="col-md-6">
                                <h2>Recommended</h2>
                                <p id="itm_head">OS</p>
                                <p>Windows 10/11</p>
                                <p id="itm_head">CPU</p>
                                <p>Intel® Core™ i {{items.intel}}</p>
                                <p id="itm_head">GPU</p>
                                <p> NVIDIA® GeForce® GTX {{items.gcard}} Ti </p>
                                <p id="itm_head">Memory</p>
                                <p>{{items.memory}} GB (dual-channel mode)
                                </p>
                                <p id="itm_head">Storage</p>
                                <p>{{items.storage}} GB</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lgl_info">
        <div class="container">
            <h1>Game and Legal Info</h1>
            <p>To play this game on PS5, your system may need to be updated to the latest system software. Although this
                game is playable on PS5, some features available on PS4 may be absent. See PlayStation.com/bc for more
                details.</p>
            <p>Download of this product is subject to the PlayStation Network Terms of Service and our Software Usage
                Terms
                plus any specific additional conditions applying to this product. If you do not wish to accept these
                terms,
                do not download this product. See Terms of Service for more important information.</p>
            <p> One-time licence fee to download to multiple PS4 systems. Sign in to PlayStation Network is not required
                to
                use this on your primary PS4, but is required for use on other PS4 systems.
            </p>
            <p>See Health Warnings for important health information before using this product.
            </p>
            <p>Library programs ©Sony Interactive Entertainment Inc. exclusively licensed to Sony Interactive
                Entertainment
                Europe. Software Usage Terms apply, See eu.playstation.com/legal for full usage rights.</p>
        </div>
    </section>
</div> -->
</div>
</body>

</html>
