*{
  margin: 0;
}
body{
  background-image: url(../../assets/images/Home_BG_5.png);

}
.navbar #login button {
border: none;
border-radius: 5px;
background-color: #00afb9;
color: white;
font-size: 20px;
}
.navbar-custom{
background-color: rgb(56, 52, 52);
color: white;
}
