<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body oncontextmenu="return false" class="snippet-body">
    <nav class="navbar navbar-custom navbar-expand-lg navbar-dark   fixed-top">
        <div class="container-fluid">
          <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="../../assets/images/logo_2.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            GameSpot</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" [routerLink]="['/browse']">Browse</a>
              </li>
              <li  class="nav-item">  <a class="nav-link" [routerLink]="['/aboutus']">About Us</a></li>

              <li  class="nav-item"><a class="nav-link" [routerLink]="['/contactus']">Contact Us</a></li>


              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/filter']" *ngIf="authService.isAuthenticated()">Filter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cart']" *ngIf="authService.isAuthenticated()"><i class="fa-solid fa-cart-shopping fa-l " style="color: #ffffff;"></i></a>
              </li>

            </ul>
            <div id="login" class="d-flex justify-content-center align-items-center">

              <ng-container *ngIf="authService.isAuthenticated(); else loginButton">
                <!-- Logout button -->
                <a class="login">    <button (click)="logout()">Logout</button></a>
              </ng-container>
              <ng-template #loginButton>
                <!-- Login/Signup button -->
                <a class="login" [routerLink]="['/register']"><button>Login / Signup</button></a>
              </ng-template>
            </div>
          </div>
        </div>
      </nav>
</body>
</html>
