@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: Poppins;
}

body{
    background-image: url(../../assets/images/Home_BG_5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.contact{
    min-height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
#header{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
}
.icon{
    min-width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;

}
#head_content{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.row{
    /* border: 0.1px white solid; */
    box-shadow: 1px 1px 10px #dcd7e0;
    padding: 20px;
}
.cont_fld{
    display: flex;align-items: center;
}

/* #address{

} */
#address h1{
font-size: 30px;
font-weight: 500;
color: #00afb9;
}

#address p{
    font-size:small;
}

.cont_fld{
    margin-top: 30px;
}

.req_box h1{
    font-size: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }

  .req_box {
    /* background: #da7070; */
    color: black;
    background: linear-gradient(-45deg, #dcd7e0, #fff);
    /* border-radius: 10px; */
    /* box-shadow: 10px 10px 10px  rgba(181, 181, 181, 0.267); */
    padding: 25px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .req_box input, textarea {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: transparent;
    font-weight: 600;
    overflow: hidden;
    font-size: 16px;
    outline: none;
  }

  .req_box button {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fb8500;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px rgb(101, 98, 98);
  }

  .req_box button:hover {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #00afb9;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px rgb(101, 98, 98);
  }
