@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
}

/* Banner */

.banner {
  height: 100vh;
  background-image: url(../../assets/images/aboutus_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: white;
  font-size: 70px;
  font-weight: 500;
}

.banner p {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

/* Data */

.data {
  height: 50vh;
  background-color: #264653;
  color: white;
  display: flex;
  align-items: center;
}

.work_with_us {
  height: 60vh;
  background-image: url(../../assets/images/Home_BG_1.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work_with_us button {
  background-color: #fb8500;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 100px;
  padding: 15px 25px;
  margin-top: 25px;
  color: white;
  box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
}

.our_history {
  background-color: #264653;
  padding-top: 55px;
  padding-bottom: 55px;
}

.our_history img {
  margin-bottom: 55px;
}

#history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#history h1 {
  font-size: 50px;
  font-weight: 500;
}

#history p {
  font-size: 20px;
  text-align: justify;
}
