<footer>

    <div class="f1">
        <div class="container">
            <div class="row justify-content-center">
                <div id="logo" class="col-12 col-md-6 col-lg-3">
                    <img src="../../assets/images/logo.png" alt="">
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h1>GET IN TOUCH</h1>
                    <p><i class="fa-solid fa-location-dot" style="color: #061a3a;"></i> Address :-5th Floor, Nexus
                        Mall,<br>
                        &nbsp; &nbsp; Kukatpally, Hyderabad,<br>
                        &nbsp; &nbsp; T.G, India</p>
                    <p><i class="fa-solid fa-phone" style="color: #061a3a;"></i> +91 9604041056</p>
                    <p><i class="fa-solid fa-envelope" style="color: #061a3a; "></i> adventureoutdoor&#64;gmail.com</p>
                </div>
                <div class="col-12 col-md-0 col-lg-3">
                    <h1>ABOUT US</h1>
                    <p>About Us</p>
                    <p>Blog</p>
                    <p>Contact Us</p>
                </div>
                <div class="col-12 col-md-0 col-lg-3">
                    <h1> GET SOCIAL</h1>
                    <p style="text-align: justify;">keep up-to-date with all the latest and breaking social media news. There are lot of exciting
                        things happening this year.
                    </p>
                    <span id="social_media_icons">
                        <i class="fa-brands fa-twitter fa-2xl " ></i>
                        <i class="fa-brands fa-facebook fa-2xl" ></i>
                        <i class="fa-brands fa-youtube fa-2xl " ></i>
                        <i class="fa-brands fa-instagram fa-2xl"></i>
                        <i class="fa-brands fa-google-plus-g fa-2xl"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="item4"><i class="fa-regular fa-copyright" style="color: #ffffff;"></i><p >2021 Copyright: MDBoostrap.com</p>

    </div>


</footer>