footer {
    /* margin-top: 30px; */
    background-color: #000000;
    padding-top: 10px;
    color: white;
    padding-top: 50px;
  }
  footer #logo{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  footer h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
  }

  footer p {
    font-size: 13px;
  }

  .d1 {
    margin: 20px;
    padding: 20px;
  }

  .f1 img {
    height: 185px;
  }

  .footecont img {
    height: 100px;
  }

  .footecont {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .f1 h1 p {
    margin: 20px auto;
  }

  footer #social_media_icons{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  footer .item4{
    max-width: 100%;
    height: 40px;
    background-color: #141616;
    /* text-align: center; */
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  footer .item4 p{
  margin-top: 18px;
  margin-left: 5px;
  }
