@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: Poppins;
}

body {
  background-color: #1b1821;
}

.crt {
  padding-top: 20px;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#crt_head {
  color: white;
  padding-bottom: 30px;
}

#cart {
  /* border: 1px solid black; */
  /* padding: 30px 20px; */
  color: black;
  background-color: aliceblue;
  box-shadow: 2px 2px 10px rgb(164, 162, 162);
  border-radius: 10px;
  /* height: 40vh; */
}

#cart h1 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 550;
}

#itms {
  font-size: 30px;
  font-weight: 400;
}

#itms_prc,
#total_prc {
  display: flex;
  justify-content: space-between;
}

#itms_prc {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

#total_prc {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

#cart button {
  width: 100%;
  border: none;
  background-color: #00afb9;
  color: white;
  padding: 10px 10px;
  border-radius: 50px;
}

#cart button:hover {
  box-shadow: 1px 1px 5px black;
}
#crt_game {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(164, 162, 162);
  margin-bottom: 20px;
}

#crt_game img {
  height: 30vh;
  border-radius: 10px;
}

#crt_game button {
  border: 1px solid black;
  background-color: aliceblue;
  padding: 10px 20px;
}

#gm_name {
  font-size: 25px;
  font-weight: 500;
}

#base_gm {
  font-size: 15px;
  font-weight: 450;
}

#crs {
  text-decoration: line-through;
}
