<!-- <div class="container">
    <h1>Browse Games</h1>
    <div class="row">
        <div class="col-md-4 col-lg-3" *ngFor="let item of filteredData">
                <div class="card">
                    <img class="img-fluid" alt="100%x280" src={{item.imgsrc}}>
                    <div id="crd_bdy" class="card-body">
                        <p class="card-text">{{item.text}}</p>
                        <h5 class="card-title">{{item.title}}</h5>
                        <div class="price">
                            <p id="discount">{{item.discount}} </p>
                            <p>&nbsp;&nbsp;</p>
                            <p id="org_prc">{{item.orginalprice}} </p>
                            <p id="sale_prc"> &nbsp;&nbsp;{{item.saleprice}}&nbsp; </p>
                            <p> <button (click)="deleteCart(item)" class="btn btn-primary">deleteITems</button></p>
                        </div>
                    </div>
                </div>


        </div>

    </div>

</div>
<div class="col-md-3">
    <p> {{total}}</p>
  </div> -->
  <!DOCTYPE html>
  <html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>cart</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
      <section class="crt">
          <div class="container">
            <!-- <p>{{email}}</p> -->
              <h1 id="crt_head">Your Cart <span id="itms">({{count}})</span></h1>
              <div class="row">
                  <div class="col-md-8">
                      <div class="container">
                          <div class="row" *ngFor="let item of filteredData">
                              <div class="col-md-12">

                                  <div id="crt_game">
                                      <div class="row">
                                          <div class="col-md-6"> <img src={{item.imgsrc}} alt="">
                                          </div>
                                          <div style="display: flex; justify-content: end;" class="col-md-6">
                                              <div>
                                                  <h1 id="gm_name"> {{item.title}}</h1>
                                                  <p id="base_gm">Base Game</p>
                                                  <p><span id="crs">Rs {{item.orginalprice}}</span> &nbsp;<span>20% off</span> </p>
                                                  <p>Rs {{item.saleprice}}</p>
                                                  <button (click)="deleteCart(item)"> <i class="fa-solid fa-trash" style="color: #000000;"></i>
                                                      &nbsp;&nbsp;Remove Item</button>
                                              </div>
                                          </div>
                                      </div>

                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>

                  <div id="cart" class="col-md-4" *ngIf="filteredData.length>0">
                      <form action="">
                        <h1>Amount to be Paid</h1>
                        <div >

                          <div id="itms_prc" *ngFor="let item of filteredData">
                              <p>{{item.title}}</p>
                              <p>{{item.saleprice}}</p>

                          </div>

                          <div id="total_prc">
                              <p>Total Amount</p>
                              <p>{{total}}</p>

                          </div>

                        </div>
                        <div>
                            <button  [routerLink]="['/checkout']" >
                                <i class="fa-solid fa-wallet" style="color: #ffffff;"></i>&nbsp;  Go to Checkout
                            </button>

                        </div>
                      </form>
                  </div>
              </div>

          </div>

      </section>

  </body>

  </html>
