<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="./register.component.css">
</head>

<body>
  <form [formGroup]="registerForm" (ngSubmit)="regSubmit()" novalidate>
    <section class="login">
      <div class="login_box">
        <div>
          <h1>Sign Up</h1>
        </div>
        <input type="text" id="name" name="name" placeholder="Full Name" formControlName="fullName" />
               <div *ngIf="registerForm.controls['fullName'].invalid && registerForm.controls['fullName'].touched"
             style="color: red; margin-bottom: -15px;">
          <div *ngIf="registerForm.controls['fullName'].errors?.['required']">Please Enter Full Name</div>
          <div *ngIf="registerForm.controls['fullName'].errors?.['minlength']">Name must be at least contain 3 characters</div>
        </div>



        <br>
        <input type="email" id="email" name="email" placeholder="Email" formControlName="emailId" />
        <div *ngIf="registerForm.controls['emailId'].invalid && registerForm.controls['emailId'].touched"
          style="color: red;margin-bottom: -15px;">
          <div *ngIf="registerForm.controls['emailId'].errors?.['required']">Please Enter Email</div>
          <div *ngIf="registerForm.controls['emailId'].errors?.['email']">Invalid Email Format</div>
        </div>
        <br>
        <input type="password" id="password" name="password" placeholder="Password" formControlName="password" />
        <div *ngIf="registerForm.controls['password'].dirty || registerForm.controls['password'].touched"
          style="color: red;margin-bottom: -15px;">
          <div *ngIf="registerForm.controls['password'].errors?.['required']">Please Enter Password</div>
          <div *ngIf="registerForm.controls['password'].errors?.['minlength']">Password must be at least 6 characters
          </div>
          <div *ngIf="registerForm.controls['password'].errors?.['pattern']">
            <div *ngIf="!passwordContainsLowercase()">Password must contain at least 1 lowercase letter</div>
            <div *ngIf="!passwordContainsUppercase()">Password must contain at least 1 uppercase letter</div>
            <div *ngIf="!passwordContainsDigit()">Password must contain at least 1 digit</div>
            <div *ngIf="!passwordContainsSymbol()">Password must contain at least 1 special symbol</div>
          </div>
        </div>
        <br>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
          formControlName="confirmPassword" (input)="checkPasswordMatch()" #confirmPasswordInput />
        <div *ngIf="registerForm.controls['confirmPassword'].dirty" style="color: red;margin-bottom: -15px;">
          <div *ngIf="registerForm.controls['confirmPassword'].errors?.['required']">Please Confirm Password</div>

          <div *ngIf="passwordsDoNotMatch">Passwords do not match</div>
        </div>
        <br>
        <label for="countryCode"></label>
        <select id="countryCode" formControlName="countryCode"
          style="width: 49px; height: 39px; margin-right: 3px; background: none;">
          <option *ngFor="let country of countries" [value]="country.idd.root + country.idd.suffixes">
            {{ country.idd.root }}{{ country.idd.suffixes }}
          </option>
        </select>
        <input type="text" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number" formControlName="mobileNumber" style="width: 248px;" />
          <div *ngIf="registerForm.get('mobileNumber')?.invalid && (registerForm.get('mobileNumber')?.dirty || registerForm.get('mobileNumber')?.touched)" style="color: red; margin-bottom: -15px;">
              <div *ngIf="registerForm.get('mobileNumber')?.errors?.['required']">Please Enter Mobile Number</div>
              <div *ngIf="registerForm.get('mobileNumber')?.errors?.['pattern']">Invalid Mobile Number Format</div>
              <div *ngIf="registerForm.get('mobileNumber')?.errors?.['maxlength']">Mobile Number must be exactly 10 digits</div>
        </div>
        <br>

        <button type="submit">Continue</button>
        <p style="text-align: center; margin-bottom: 20px;">Already a user ? <a href="/login"style="text-decoration: none; color: fb8500;">Sign In</a></p>
      </div>
    </section>
  </form>

</body>

</html>
