<!-- forgot-password.component.html -->
<div class="login">
  <div class="login_box">
    <form [formGroup]="forgotPasswordForm">
      <h1>Forgot Password</h1>
      <div *ngIf="currentStep === 'sendOtp'" class="form-group">
        <div class="flex-container">
          <label for="country"></label>
          <select id="countryCode" formControlName="countryCode" style="width: 49px; height: 39px; margin-right: 3px;">
            <option *ngFor="let country of countries" [value]="country?.idd?.root + country?.idd?.suffixes">
              {{ country?.idd?.root }}{{ country?.idd?.suffixes }}
            </option>
          </select>

          <label for="mobileNumber" style="margin-right: 3px;"></label>
          <input type="text" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number" formControlName="mobileNumber" style="width: 195px; margin-right: 3px;" />
        </div>
        <small *ngIf="(forgotPasswordForm.get('countryCode')?.hasError('required') && forgotPasswordForm.get('countryCode')?.touched) || (forgotPasswordForm.get('mobileNumber')?.hasError('required') && forgotPasswordForm.get('mobileNumber')?.touched) || (forgotPasswordForm.get('mobileNumber')?.hasError('invalidMobileNumber') && forgotPasswordForm.get('mobileNumber')?.dirty)" class="error-text">
          <ng-container *ngIf="forgotPasswordForm.get('countryCode')?.hasError('required') && forgotPasswordForm.get('countryCode')?.touched">
            Country code is required.
          </ng-container>
          <ng-container *ngIf="forgotPasswordForm.get('mobileNumber')?.hasError('required') && forgotPasswordForm.get('mobileNumber')?.touched">
            Mobile number is required.
          </ng-container>
          <ng-container *ngIf="forgotPasswordForm.get('mobileNumber')?.hasError('invalidMobileNumber') && forgotPasswordForm.get('mobileNumber')?.dirty">
            Mobile number should be 10 digits.
          </ng-container>
        </small>

        <button type="button" class="submit" (click)="sendOtp()">Send OTP</button>
      </div>



      <div *ngIf="currentStep === 'verifyOtp'" class="form-group">
        <label for="otp">Verify OTP:</label>
        <input type="text" id="otp" formControlName="otp" />
        <small *ngIf="forgotPasswordForm.get('otp')?.hasError('required') && forgotPasswordForm.get('otp')?.touched" class="error-text">OTP is required.</small>

        <button type="button" class="submit" (click)="verifyOtp()">Verify OTP</button>
      </div>



<div *ngIf="currentStep === 'updatePassword'" class="form-group">
  <label for="newPassword">New Password:</label>
  <input type="password" id="newPassword" formControlName="newPassword" aria-labelledby="newPasswordLabel" />
  <small *ngIf="(forgotPasswordForm.get('newPassword')?.hasError('required') && (forgotPasswordForm.get('newPassword')?.touched || forgotPasswordForm.get('newPassword')?.dirty))" class="error-text">New password is required.</small>
  <small *ngIf="(forgotPasswordForm.get('newPassword')?.hasError('minlength') && (forgotPasswordForm.get('newPassword')?.touched || forgotPasswordForm.get('newPassword')?.dirty))" class="error-text">Password must be at least 6 characters long.</small>

  <!-- Show complexity error only if there is some input -->
  <small *ngIf="((forgotPasswordForm.get('newPassword')?.hasError('complexity') && forgotPasswordForm.get('newPassword')?.value) && (forgotPasswordForm.get('newPassword')?.touched || forgotPasswordForm.get('newPassword')?.dirty))" class="error-text">Password must contain one capital letter, one small letter, one symbol, and a number.</small>

  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" formControlName="confirmPassword" aria-labelledby="confirmPasswordLabel" />
  <small *ngIf="(forgotPasswordForm.hasError('passwordMismatch') && (forgotPasswordForm.get('confirmPassword')?.touched || forgotPasswordForm.get('confirmPassword')?.dirty))" class="error-text">Passwords do not match.</small>
  <small *ngIf="(forgotPasswordForm.get('confirmPassword')?.hasError('required') && (forgotPasswordForm.get('confirmPassword')?.touched || forgotPasswordForm.get('confirmPassword')?.dirty))" class="error-text">Confirm password is required.</small>

  <button type="button" class="submit" (click)="updatePassword()">Update Password</button>
</div>

<!-- ... (other code) ... -->

    </form>
  </div>
</div>
