/* forgot-password.component.css */
* {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/images/Home_BG_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box {
  background: #fff;
  background: linear-gradient(-45deg, #dcd7e0, #fff);
  border-radius: 10px;
  box-shadow: 1px 4px 22px -8px #0004;
  padding: 25px;
  width: 300px; /* Adjust the width as needed */
}

h1 {
  text-align: center;
  font-size: 30px;
}

.form-group {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  background: #00afb9; /* Adjusted button color */
  color: #fff;
  font-weight: bold;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}


.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}


.disabled-button {
  background-color: #b0d7e8;
  cursor: not-allowed;
  color: #546e7a;
}
